body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  max-width: 50%;
  max-height: 400px;
}

#priceBreakdownChart {
  max-width: 50%;
  max-height: 200px;
}
